<div class="container" style="text-align:center">
  <form #custForm="ngForm" (ngSubmit)="searchEmployee()">
    <br>
    <h5>Enter Employee Id</h5>
    <br>

    <input name="emp" [(ngModel)]="emp" type="number" class="form-control" placeholder="EmployeeID" />
    <br>

    <button type="submit" class="btn btn-primary">Find</button>
    <br>

  </form>
</div>
<br><br>
<div class="container" *ngIf="flag">
  <table class="table table-dark">
    <td>{{employee.empId}}</td>
    <td>{{employee.empName}}</td>
    <td>{{employee.empPAN}}</td>
    <td>{{employee.empDesg}}</td>
    <td>{{employee.empDomain}}</td>
    <td>{{employee.empDOJ}}</td>
    <td>{{employee.empDOB}}</td>
    <td>{{employee.empSal}}</td>
    <td>{{employee.empMail}}</td>
    <td>{{employee.empPassword}}</td>
  </table>
  <button class="btn btn-primary" (click)="searchProject()">Search Project</button>
</div>